{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load currency_format %}
{% block page_title %}
{% blocktrans with id=object.id subject=object.subject %}
  Reimburse Request {{ id }}: {{ subject }}
{% endblocktrans %}
{% endblock %}
{% block content %}
<h1>
  {% blocktrans with id=object.id subject=object.subject %}
    Reimburse Request {{ id }}: {{ subject }}
  {% endblocktrans %}
</h1>
<h2>{% trans "Bank Details" %}</h2>
<details>
  <summary>{% trans "show/hide" %}</summary>
  <table class="table table-striped">
    {% for k, v in object.bank_details.items %}
      <tr>
        <th>{{ k }}</th>
        <td>{{ v }}</td>
      </tr>
    {% endfor %}
  </table>
</details>
<h2>{% trans "Reimbursement" %}</h2>
<form method="post">
  {% crispy form %}
  <div class="fs-4 pb-3">
    {% trans "Total:" %}
    <span id="total">{% trans "Calculated by Javascript..." %}</span>
  </div>
  <div class="fs-4 pb-3">
    {% trans "Budgeted:" %} <span id="budgeted">{{ object.total | currency }}</span>
    ({% trans "Approved up to:" %} <span id="budget-limit">{{ object.approved_budget_limit | currency }}</span>)
  </div>
  <input type="submit" class="btn btn-primary" value="{% trans 'Reimburse' %}">
</form>
{% endblock %}
{% block extra_foot %}
<script>
  "use strict";
  (function() {
    const budgeted = {{ object.total.0 }};
    const approved_budget_limit = {{ object.approved_budget_limit.0 }};

    const update_total = function(event) {
      var total = 0;
      document.querySelectorAll("input.sum-line").forEach(input => {
        const amount = parseFloat(input.value) || 0;
        total += amount;
      });
      const fmt = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "{{ object.currency }}",
      });
      const total_span = document.querySelector("span#total");
      total_span.textContent = fmt.format(total);
      document.querySelector("span#budgeted").textContent = fmt.format(budgeted);
      document.querySelector("span#budget-limit").textContent = fmt.format(approved_budget_limit);

      if (total > approved_budget_limit) {
        total_span.classList.add("bg-danger");
      } else {
        total_span.classList.remove("bg-danger");
      }
      if (total > budgeted && total <= approved_budget_limit) {
        total_span.classList.add("bg-warning");
      } else {
        total_span.classList.remove("bg-warning");
      }
    }

    document.querySelectorAll("input.sum-line").forEach(el => {
      el.addEventListener("input", update_total);
    });
    update_total();
  })();
</script>
{% endblock %}
