{% extends 'base.html' %}
{% load i18n %}
{% load currency_format %}
{% block page_title %}
{% blocktrans with id=object.id subject=object.subject %}
  Request {{ id }}: {{ subject }}
{% endblocktrans %}
{% endblock %}
{% block extra_head %}
<style type="text/css">
.table .xe {
  background-color: #0000ff10;
}
@media print {
  section#actions {
    display: none;
  }
  a.btn {
    display: none;
  }
}
</style>
{% endblock %}
{% block content %}
<h1>
  {% blocktrans with id=object.id subject=object.subject %}
    Request {{ id }}: {{ subject }}
  {% endblocktrans %}
</h1>
<section id="actions">
  <h2>{% trans "Actions" %}</h2>
  <div class="modal fade" id="comment-request" tabindex="-1">
    <div class="modal-dialog">
      <form method="post" action="{% url "request-comment" object.id %}" class="d-inline">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Comment on Request" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{% trans "Close" %}"></button>
          </div>
          <div class="modal-body">
            <p>
              {% blocktrans %}
                Comments are not for getting support or having conversations.
                They are simply recorded in the request history for future reference.
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans with issue_url="https://salsa.debian.org/stefanor/debian-reimbursement/-/issues" %}
                If you have a support question or bug report, please
                <a href="{{ issue_url }}">file an issue</a>.
              {% endblocktrans %}
            </p>
            {% csrf_token %}
            <label for="comment-details" class="form-label">
              {% trans "Comment:" %}
            </label>
            <textarea name="details" id="comment-details" rows="3"
                      class="form-control"></textarea>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="{% trans "Comment" %}">
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#comment-request">
    {% trans "Comment" %}
  </button>
  {% if object.state == "draft" and access.requester %}
    <h3>{% trans "Requester Actions" %}</h3>
    <a class="btn btn-warning" href="{% url "request-edit" object.id %}">
      {% trans "Edit Request" %}
    </a>
    <div class="modal fade" id="propose-request" tabindex="-1">
      <div class="modal-dialog">
        <form method="post" action="{% url "request-submit-draft" object.id %}" class="d-inline">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{% trans "Propose Expenses" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="{% trans "Close" %}"></button>
            </div>
            <div class="modal-body">
              <p>
                {% blocktrans %}
                  This will submit the request to the assigned reviewers, to
                  approve the budget of the request.
                  Once it is approved you will be able to attach receipts and
                  request payment.
                {% endblocktrans %}
              </p>
              {% csrf_token %}
              <label for="submit-draft-details" class="form-label">
                {% trans "Optional Notes for reviewers:" %}
              </label>
              <textarea name="details" id="submit-draft-details" rows="3"
                        class="form-control"></textarea>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="{% trans "Propose Expenses" %}">
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#propose-request">
      {% trans "Propose Expenses" %}
    </button>
  {% elif object.state == "pending_approval" and access.approver %}
    <h3>{% trans "Approver Actions" %}</h3>
    <div class="modal fade" id="review-request" tabindex="-1">
      <div class="modal-dialog">
        <form method="post" action="{% url "request-review" object.id %}" class="d-inline">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{% trans "Review Request" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="{% trans "Close" %}"></button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <label for="review-request-details" class="form-label">
                {% trans "Public Notes" %}
              </label>
              <textarea name="details" id="review-request-details" rows="3"
                        class="form-control"></textarea>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" name="approve"
                     value="{% trans "Approve" %}">
              <input type="submit" class="btn btn-danger" name="reject"
                     value="{% trans "Reject" %}">
              <input type="submit" class="btn btn-warning" name="more_info"
                     value="{% trans "Request More Information" %}">
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-request">
      {% trans "Review Request" %}
    </button>
  {% elif object.state == "approved" and access.requester %}
    <h3>{% trans "Requester Actions" %}</h3>
    <a class="btn btn-warning" href="{% url "add-receipt" object.id %}">{% trans "Add Receipt" %}</a>
    <a class="btn btn-warning" href="{% url "bank-details" object.id %}">
      {% if object.bank_details %}
        {% trans "Edit Bank Details" %}
      {% else %}
        {% trans "Add Bank Details" %}
      {% endif %}
    </a>
    {% if object.over_budget %}
      <div class="modal fade" id="request-submit-increase" tabindex="-1">
        <div class="modal-dialog">
          <form method="post" action="{% url "request-submit-increase" object.id %}" class="d-inline">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Request Budget Increase" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans %}
                    This will return the request back to the pre-approved Draft
                    state, so you can edit it.
                    Once you've edited the request, you can re-submit it, to be
                    re-reviewed.
                  {% endblocktrans %}
                </p>
                {% csrf_token %}
                <label for="request-increase-details" class="form-label">
                  {% trans "Public Notes" %}
                </label>
                <textarea name="details" id="request-increase-details" rows="3"
                          class="form-control"></textarea>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary"
                       value="{% trans "Request Budget Increase" %}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#request-submit-increase">
        {% trans "Request Budget Increase" %}
      </button>
    {% endif %}
    {% if object.receipts and object.bank_details %}
      <div class="modal fade" id="request-submit" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{% trans "Submit for Reimbursement" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="{% trans "Close" %}"></button>
            </div>
            <div class="modal-body">
              <p>
                {% blocktrans with payer=object.payer_group.name %}
                  This will submit your request for reimbursement.
                  {{ payer }} will review your request and receipts, and
                  reimburse you.
                  Not all expenses may be reimburseable, they need to comply with
                  {{ payer }}'s policies, and fit within the approved budget.
                {% endblocktrans %}
              </p>
              {% if not object.within_budget %}
                <div class="alert alert-warning" role="alert">
                  <h4 class="alert-heading">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    {% trans "Over Budget" %}
                  </h4>
                  <p>
                    {% blocktrans with approved=object.total|currency spent=object.receipts_total|currency %}
                      This request is over budget.
                      {{ spent }} was spent out of an approved budget of {{ approved }}.
                    {% endblocktrans %}
                  </p>
                  <p>
                    {% blocktrans %}
                      If you continue with the request you will be reimbursed up to the
                      approved amount, only.
                      If you wish to request a budget increase for your request, please do so
                      before submitting for reimbursement.
                    {% endblocktrans %}
                  </p>
                </div>
              {% endif %}
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url "request-submit" object.id %}">
                {% trans "Submit for Reimbursement" %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#request-submit">
        {% trans "Submit for Reimbursement" %}
      </button>
    {% endif %}
  {% elif object.state == "pending_payment" and access.payer %}
    <h3>{% trans "Payer Actions" %}</h3>
    <a class="btn btn-success" href="{% url "request-reimburse" object.id %}">
      {% trans "Record Reimbursement" %}
    </a>
    <div class="modal fade" id="reimbursement-moreinfo" tabindex="-1">
      <div class="modal-dialog">
        <form method="post" action="{% url "request-reimburse-return" object.id %}" class="d-inline">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{% trans "Return request for more information" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="{% trans "Close" %}"></button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <label for="reimbursement-moreinfo-details" class="form-label">
                {% trans "Describe why the remibursement cannot be processed:" %}
              </label>
              <textarea name="details" id="reimbursement-moreinfo-details" rows="3"
                        class="form-control"></textarea>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="{% trans "Return" %}">
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reimbursement-moreinfo">
      {% trans "Return for more information" %}
    </button>
  {% endif %}
</section>
<h2>{% trans "Request" %}</h2>
<table class="table table-striped">
  <tr>
    <th>{% trans "Requester" %}</th>
    <td>{{ object.requester.username }}</td>
  </tr>
  {% if object.parent %}
    <tr>
      <th>{% trans "Part of" %}</th>
      <td>
        <a href="{{ object.parent.get_absolute_url }}">
          {% blocktrans with id=object.parent.id subject=object.parent.subject %}
            Request {{ id }}: {{ subject }}
          {% endblocktrans %}
        </a>
      </td>
    </tr>
  {% endif %}
  <tr>
    <th>{% trans "State" %}</th>
    <td>{{ object.get_state_display }}</td>
  </tr>
  <tr>
    <th>{% trans "Bank Details" %}</th>
    <td>
      {% if object.bank_details %}
        {% if access.payer or access.requester %}
          <details>
            <summary>{% trans "show/hide" %}</summary>
            <table class="table table-striped">
              {% for k, v in object.bank_details.items %}
                <tr>
                  <th>{{ k }}</th>
                  <td>{{ v }}</td>
                </tr>
              {% endfor %}
            </table>
          </details>
        {% else %}
          {% trans "Provided, but not shown" %}
        {% endif %}
      {% else %}
        {% trans "Not yet provided" %}
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>{% trans "Request Type" %}</th>
    <td>{{ object.request_type }}</td>
  </tr>
  <tr>
    <th>{% trans "Description" %}</th>
    <td>{{ object.description|linebreaksbr }}</td>
  </tr>
  <tr>
    <th>{% trans "Currency" %}</th>
    <td>{{ object.currency }}</td>
  </tr>
  <tr>
    <th>{% trans "Approvers" %}</th>
    <td>{{ object.approver_group.name }}</td>
  </tr>
  <tr>
    <th>{% trans "Payers" %}</th>
    <td>{{ object.payer_group.name }}</td>
  </tr>
  {% if object.rt_tickets.exists %}
    <tr>
      <th>{% trans "RT Tickets" %}</th>
      <td>
        {% for ticket in object.rt_tickets.all %}
          <a class="btn btn-info" href="{{ ticket.url }}">{{ ticket.payer_group.name }} #{{ ticket.ticket_id }}</a>
        {% endfor %}
      </td>
    </tr>
  {% endif %}
</table>

{% if object.receipts or object.state == "approved" %}
  <h2>{% trans "Financial Summary" %}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Expense Type" %}</th>
        <th class="text-end">
          {% blocktrans with currency=object.currency %}
            Approved {{ currency }}
          {% endblocktrans %}
        </th>
        <th class="text-end">
          {% blocktrans with currency=object.currency %}
            Spent {{ currency }}
          {% endblocktrans %}
        </th>
        <th class="text-end">
          {% if object.reimbursement_lines.exists %}
            {% blocktrans with currency=object.currency %}
              Reimbursed {{ currency }}
            {% endblocktrans %}
          {% else %}
            {% blocktrans with currency=object.currency %}
              Remaining {{ currency }}
            {% endblocktrans %}
          {% endif %}
        </th>
        {% if object.currency != "USD" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Approved USD" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Spent USD" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% if object.reimbursement_lines.exists %}
              {% trans "Reimbursed USD" %}
            {% else %}
              {% trans "Remaining USD" %}
            {% endif %}
          </th>
        {% endif %}
        {% if object.currency != "EUR" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Approved EUR" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Spent EUR" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% if object.reimbursement_lines.exists %}
              {% trans "Reimbursed EUR" %}
            {% else %}
              {% trans "Remaining EUR" %}
            {% endif %}
          </th>
        {% endif %}
      </tr>
    </thead>
    {% for type in object.summarize_by_type.values %}
      <tr>
        {% if type.special %}
          <th>{{ type.name }}</th>
        {% else %}
          <td>{{ type.name }}</td>
        {% endif %}
        <td class="text-end">{{ type.qualified_requested|currency }}</td>
        <td class="text-end">{{ type.qualified_spent|currency }}</td>
        {% if object.reimbursement_lines.exists %}
          <td class="text-end">
            {{ type.qualified_reimbursed|currency }}
          </td>
        {% else %}
          <td class="text-end {% if type.over_budget %}text-danger{% else %}text-success{% endif %}">
            {{ type.qualified_remaining|currency }}
          </td>
        {% endif %}
        {% if object.currency != "USD" %}
          <td class="text-end xe">{{ type.qualified_requested|exchange:"USD" }}</td>
          <td class="text-end xe">{{ type.qualified_spent|exchange:"USD" }}</td>
          {% if object.reimbursement_lines.exists %}
            <td class="text-end xe">
              {{ type.qualified_reimbursed|exchange:"USD" }}
            </td>
          {% else %}
            <td class="text-end xe {% if type.over_budget %}text-danger{% else %}text-success{% endif %}">
              {{ type.qualified_remaining|exchange:"USD" }}
            </td>
          {% endif %}
        {% endif %}
        {% if object.currency != "EUR" %}
          <td class="text-end xe">{{ type.qualified_requested|exchange:"EUR" }}</td>
          <td class="text-end xe">{{ type.qualified_spent|exchange:"EUR" }}</td>
          {% if object.reimbursement_lines.exists %}
            <td class="text-end xe">
              {{ type.qualified_reimbursed|exchange:"EUR" }}
            </td>
          {% else %}
            <td class="text-end xe {% if type.over_budget %}text-danger{% else %}text-success{% endif %}">
              {{ type.qualified_remaining|exchange:"EUR" }}
            </td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}

<h2>{% trans "Items" %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Expense Type" %}</th>
      <th>{% trans "Description" %}</th>
      <th class="text-end">
        {% blocktrans with currency=object.currency %}
          Amount {{ currency }}
        {% endblocktrans %}
      </th>
      {% if object.currency != "USD" %}
        <th class="text-end xe"
            title="{% trans "Calculated based on current exchange rates" %}">
          {% trans "Amount USD" %}
        </th>
      {% endif %}
      {% if object.currency != "EUR" %}
        <th class="text-end xe"
            title="{% trans "Calculated based on current exchange rates" %}">
          {% trans "Amount EUR" %}
        </th>
      {% endif %}
    </tr>
  </thead>
  {% for row in object.lines.all %}
    <tr>
      <td>{{ row.expense_type }}</td>
      <td>{{ row.description }}</td>
      <td class="text-end">{{ row.qualified_amount|currency }}</td>
      {% if object.currency != "USD" %}
        <td class="text-end xe">{{ row.qualified_amount|exchange:"USD" }}</td>
      {% endif %}
      {% if object.currency != "EUR" %}
        <td class="text-end xe">{{ row.qualified_amount|exchange:"EUR" }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  <tr>
    <th colspan="2">{% trans "Total" %}</th>
    <td class="text-end">{{ object.total|currency }}</td>
    {% if object.currency != "USD" %}
      <td class="text-end xe">{{ object.total|exchange:"USD" }}</td>
    {% endif %}
    {% if object.currency != "EUR" %}
      <td class="text-end xe">{{ object.total|exchange:"EUR" }}</td>
    {% endif %}
  </tr>
</table>

{% if object.children.all.exists %}
  <h2>{% trans "Sub-Requests" %}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Requestor" %}</th>
        <th>{% trans "Subject" %}</th>
        <th class="text-end">
          {% blocktrans with currency=object.currency %}
            Amount {{ currency }}
          {% endblocktrans %}
        </th>
        {% if object.currency != "USD" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount USD" %}
          </th>
        {% endif %}
        {% if object.currency != "EUR" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount EUR" %}
          </th>
        {% endif %}
      </tr>
    </thead>
    {% for child in object.children.all %}
      <tr>
        <td><a href="{{ child.get_absolute_url }}">{{ child.id }}</a></td>
        <td>{{ child.requester.username }}</td>
        <td>{{ child.subject }}</td>
        <td class="text-end">{{ child.total|exchange:object.currency }}</td>
        {% if object.currency != "USD" %}
          <td class="text-end xe">{{ child.total|exchange:"USD" }}</td>
        {% endif %}
        {% if object.currency != "EUR" %}
          <td class="text-end xe">{{ child.total|exchange:"EUR" }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if object.receipts or object.state == "approved" %}
  <h2>{% trans "Receipts" %}</h2>
  <a class="btn btn-info" href="{% url 'request-receipts' object.id %}">View all</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Receipt" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Expense Type" %}</th>
        <th class="text-end">{% trans "Amount" %}</th>
        <th class="text-end"
            title="{% trans "Calculated based on the exchange rate of the receipt date" %}">
          {% blocktrans with currency=object.currency %}
            Amount {{ currency }}
          {% endblocktrans %}
        </th>
        {% if object.currency != "USD" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount USD" %}
          </th>
        {% endif %}
        {% if object.currency != "EUR" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount EUR" %}
          </th>
        {% endif %}
      </tr>
    </thead>
    {% for receipt in object.receipts.all %}
      {% if receipt.lines.count == 0 %}
        <tr>
          <td rowspan="2">
            <a href="{% url "view-receipt-file" object.id receipt.id %}">
              <i class="bi bi-card-image"></i>
            </a>
            {{ receipt.description|linebreaksbr }}
            {% if object.state == "approved" and access.requester %}
              <a class="btn btn-warning float-end"
                 href="{% url "edit-receipt" object.id receipt.id %}">{% trans "Edit Receipt" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% for line in receipt.lines.all %}
        <tr>
          {% if forloop.first %}
            <td rowspan="{{ receipt.lines.count|add:"1" }}">
              <a href="{% url "view-receipt-file" object.id receipt.id %}">
                <i class="bi bi-card-image"></i>
              </a>
              {{ receipt.description|linebreaksbr }}
              {% if object.state == "approved" and access.requester %}
                <a class="btn btn-warning float-end"
                   href="{% url "edit-receipt" object.id receipt.id %}">{% trans "Edit Receipt" %}</a>
              {% endif %}
            </td>
          {% endif %}
          <td>{{ line.date }}</td>
          <td>{{ line.description|linebreaksbr }}</td>
          <td>{{ line.expense_type }}</td>
          <td class="text-end">{{ line.qualified_amount|currency }}</td>
          <td class="text-end">{{ line.qualified_converted_amount|currency }}</td>
          {% if object.currency != "USD" %}
            <td class="text-end xe">{{ line.qualified_converted_amount|exchange:"USD" }}</td>
          {% endif %}
          {% if object.currency != "EUR" %}
            <td class="text-end xe">{{ line.qualified_converted_amount|exchange:"EUR" }}</td>
          {% endif %}
        </tr>
      {% endfor %}
        <tr>
          <th colspan="4">{% trans "Receipt Subtotal" %}</th>
          <td class="text-end">{{ receipt.total|currency }}</td>
          {% if object.currency != "USD" %}
            <td class="text-end xe">{{ receipt.total|exchange:"USD" }}</td>
          {% endif %}
          {% if object.currency != "EUR" %}
            <td class="text-end xe">{{ receipt.total|exchange:"EUR" }}</td>
          {% endif %}
        </tr>
    {% endfor %}
    <tr>
      <th colspan="5">{% trans "Total" %}</th>
      <td class="text-end">{{ object.receipts_total|currency }}</td>
      {% if object.currency != "USD" %}
        <td class="text-end xe">{{ object.receipts_total|exchange:"USD" }}</td>
      {% endif %}
      {% if object.currency != "EUR" %}
        <td class="text-end xe">{{ object.receipts_total|exchange:"EUR" }}</td>
      {% endif %}
    </tr>
  </table>
{% endif %}

<h2>{% trans "History" %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Event" %}</th>
      <th>{% trans "Actor" %}</th>
      <th>{% trans "Budget" %}</th>
      <th>{% trans "Details" %}</th>
    </tr>
  </thead>
  {% for event in object.history.all %}
    <tr>
      <td>{{ event.timestamp|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ event.get_event_display }}</td>
      <td>{{ event.actor }}</td>
      <td>
        {% if event.budget %}
          <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown">
              {{ event.budget_total_qualified|currency }}
            </button>
            <div class="dropdown-menu p-4">
              <table class="table table-striped" style="width: 30em">
                <tr>
                  <th>{% trans "Type" %}</th>
                  <th class="text-end">{% trans "Approved" %}</th>
                  <th class="text-end">{% trans "Spent" %}</th>
                </tr>
                {% for line in event.budget_allocation %}
                  <tr>
                    {% if line.special %}
                      <th>{{ line.name }}</th>
                    {% else %}
                      <td>{{ line.name }}</td>
                    {% endif %}
                    <td class="text-end">{{ line.qualified_requested|currency }}</td>
                    <td class="text-end">{{ line.qualified_spent|currency }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        {% endif %}
      </td>
      <td>{{ event.details }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
