{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_helper %}
{% load i18n %}
{% block page_title %}{% trans 'Log In' %}{% endblock %}
{% block content %}
<div class="login-form mx-auto col-md-3">
  <h1>{% trans 'Log In' %}</h1>
  {% reimbursement_form_helper 'webui.forms.LoginFormHelper' as form_helper %}
  {% crispy form form_helper %}
</div>
{% endblock %}
